*.txt
*.jrl
*.swp
*.un~

*~
*1
*log*

*.OLBlck
*.DSNlck
*.DBK

*PSpice*
*.tag
#*.opj
*.png
*.OBK
*sav
*.xml
*.dml
*.do
*.lck
*.DRC
*.lst
*.did



footprints/*lck
footprints/*html
signoise.run/*
allegro/pstdedb.cdsz
CAPTURE_DESIGN_DCF/*
