*.txt
*.jrl
*.swp
*.un~
*.pdf
*.rpt

*~
*1
*log,*
*.log

*.OLBlck
*.DSNlck
*.DBK

*PSpice*
*.tag
#*.opj
*.png
*.OBK
*sav
*.xml
*.dml
*.do
*.lck
*.DRC
*.lst
*.did
*.dmp



footprints/*lck
footprints/*html
footprints/signoise.run/*

allegro*/*
allegro/pstdedb.cdsz
CAPTURE_DESIGN_DCF/*
*artwork*/*
